{% extends 'base.html' %} 

{% block content %}
  <h1>DETAIL</h1>
  <hr>

  <div id="movie-content">
    <p>{{movie.title}}</p>
    <p>Audience : {{movie.audience}}</p>
    <p>Release Dates : {{movie.release_date}}</p>
    <p>Genre : {{movie.genre}}</p>
    <p>Score : {{movie.score}}</p>
    <p>Poster URL : {{movie.poster_url}}</p>
    <p>Actor :   
    {% if movie.actor_image %}
      <img src="{{movie.actor_image.url}}" alt="actor_image">
    {% endif %}
    </p>
    <div style="width: 600px; word-break:break-all;">{{movie.description}}</div>

    <hr>
    <a href="{% url 'movies:update' movie.pk %}">수정하기</a>
    <form action="{% url 'movies:delete' movie.pk %}" id="delete-form" method="POST">
      {% csrf_token %}
      <input type="submit" value="삭제하기" id="delete-btn" />
    </form><br>
    <hr>
    <a href="{% url 'movies:index' %}">목록보기</a>
  </div>
{% endblock content %}
