.circle {
  width: 100px;
  height: 100px;

  margin: 10px;
  border-radius: 50%;
}

.rect {
  width: 100px;
  height: 100px;

  margin: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.small {
  height: 50px;
  width: 50px;
}

.large {
  height: 200px;
  width: 200px;
}

@font-face {
  font-family: '짱이쁜 폰트';
  src: url();
}

h1 {
  font-family: '짱이쁜 폰트';
}