{% extends 'base.html' %}

{% block content %}
<h1>DETAIL</h1>
<hr>

{% if movie.image %}
    <img src="{{movie.image.url}}">
{% endif %}

<div id="movie-content">
    <h2>{{movie.title}}</h2>
    <p>{{movie.description}}</p>
    <hr>

    <a href="{% url 'movies:update' movie.pk %}">수정</a>
    <form action="{% url 'movies:delete' movie.pk %}" id="delete-form">
        {% csrf_token %}
        <input type="submit" value="삭제" id="delete-btn">
    </form><br>
    <hr>
    <a href="{% url 'movies:index' %}">[BACK]</a>
</div>

{% endblock %}